* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
}

ul {
  list-style: none;
}

.header {
  background-color: white;
  z-index: 10000;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 2rem;
}

.header .header__icono {
  font-size: 32px;
  color: rgba(25, 122, 114, 0.753);
  text-decoration: none;
  display: none;
}

.header .header__logo {
  max-width: 200px;
  min-height: 200px;
  margin: 30px;
}

.paginas__lista {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.paginas__item {
  margin-left: 16px;
  color: rgba(25, 122, 114, 0.753);
}

.box {
  display: grid;
  color: rgba(25, 122, 114, 0.753);
  justify-content: center;
  font-size: 30px;
}

footer {
  display: flex;
  width: 100%;
  background-color: rgba(25, 122, 114, 0.753);
  color: black;
  min-height: 220px;
  padding: 16px;
  justify-content: center;
  align-items: flex-end;
  background-image: linear-gradient(to left, rgba(8, 7, 3, 0.753), rgba(38, 151, 142, 0.753), rgba(8, 7, 3, 0.753));
}

footer .footer__parrafo {
  background-color: black;
  text-align: center;
  font-size: 20px;
  color: rgba(25, 122, 114, 0.753);
}

footer .footer__whatsaap {
  width: 70px;
  padding: 0.5rem;
  text-align: center;
  position: fixed;
  right: 2rem;
  bottom: 2rem;
  animation-name: whatsaap;
  animation-duration: 2s;
  animation-iteration-count: infinite;
}

footer .footer__logo {
  display: grid;
  max-width: 100px;
  min-height: 100px;
  margin-bottom: 20px;
  transition: transform 1s;
}

footer .footer__logo:hover {
  transform: rotate(360deg);
  animation-timing-function: linear;
}

@keyframes whatsaap {
  0% {
    opacity: 2;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 2;
  }
}

footer .footer__redes {
  padding: 0.5rem;
  display: flex;
  flex-direction: row;
  justify-items: left;
  margin: 20px;
  padding: 20px;
  gap: 1rem;
}

footer .footer_derechos {
  background-color: black;
  color: rgba(25, 122, 114, 0.753);
  padding: 15px;
  border: 5px solid black;
  display: grid;
  text-align: center;
}

footer .footer_redes1 {
  display: grid;
  justify-content: center;
}

.footer_derechos {
  background-color: black;
  color: rgba(25, 122, 114, 0.753);
  padding: 15px;
  border: 5px solid black;
  display: grid;
  text-align: center;
}

.inicio1 {
  background-color: #faf9f9;
  color: #dae4e4;
  min-height: 500px;
  padding: 16px;
  margin: 32px;
  border: 5px black;
  display: flex;
  border: 10px solid black;
  border-radius: 10px;
  margin-bottom: 100px;
}

.inicio1 .inicio1__imagenderecha {
  width: 400px;
  max-height: 400px;
  display: block;
  border-radius: 10px;
  border: 5px solid black;
}

.inicio1 .inicio1--izquierda {
  width: 65%;
  background-color: #f2f8f8;
  color: rgba(25, 122, 114, 0.753);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.inicio1 .inicio1--derecha {
  width: 35%;
  background-color: white rgba(25, 122, 114, 0.753);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.inicio1 .inicio1__titulo {
  font-size: 40px;
  text-align: center;
  margin-bottom: 50px;
  text-transform: uppercase;
}

.inicio1 .inicio1__parrafo {
  text-align: center;
  font-size: 10px;
  color: black;
}

.inicio2 {
  width: 100%;
  color: #dae4e4;
  min-height: 400px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.inicio2 .inicio2__video {
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: absolute;
  top: 0%;
  left: 0%;
  z-index: -1;
}

.inicio2 .inicio2__videotex {
  font-size: 80px;
  color: rgba(25, 122, 114, 0.753);
  text-align: center;
  animation-name: videotext;
  animation-duration: 4s;
  animation-iteration-count: infinite;
}

@keyframes videotext {
  0% {
    opacity: 2;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 2;
  }
}

.span__frida {
  color: green;
}

.index0 {
  color: rgba(25, 122, 114, 0.753);
  font-size: 30px;
  display: grid;
  justify-content: center;
}

.grid {
  background-color: white;
  padding: 25px;
  margin-bottom: 15px;
  margin: 15px;
  border: 5px solid black;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  grid-template-areas: "img1 img2 img3" "img4 img5 img6" "img7 img8 img9";
  /*tercera fila cuadricula*/
  /*son 3 filas en ese ejemplo, las filas se marcar con comillas*/
  column-gap: 1rem;
  /*espacio entre columnas*/
  row-gap: 1rem;
  /*espacio entre filas*/
  justify-items: stretch;
  /*donde quiero que vaya los items en plano horizontal*/
  align-items: stretch;
  /*donde qeuiero que vayan los items en plano vertical*/
  justify-content: end;
  /*donde quiero que vaya todo el contenido, siempre que haya lugar*/
}

.grid__hijo {
  /*border: 5px solid brown;*/
  border-radius: 10px;
  overflow: hidden;
  position: relative;
}

.grid__hijo1,
.grid__text {
  background-color: white;
  grid-area: img1;
}

.grid__hijo2 {
  background-color: white;
  grid-area: img2;
  /*justify-self: start;
    align-self: end; /*para mover solo a un hijo se pone justiy self y aline self*/
}

.grid__hijo3 {
  background-color: white;
  grid-area: img4;
}

.grid__hijo4 {
  background-color: white;
  grid-area: img3;
}

.grid__hijo5 {
  background-color: white;
  grid-area: img5;
}

.grid__hijo6 {
  background-color: white;
  grid-area: img6;
}

.grid__hijo6 {
  background-color: white;
  grid-area: img6;
}

.grid__hijo6 {
  background-color: white;
  grid-area: img6;
}

.grid__img {
  width: 100%;
  /*que ocupe el 100%  en ancho*/
  height: 100%;
  /*que ocupe el 100%  en alto*/
  object-fit: cover;
  /*que esteticamente este mas linda a la vista*/
}

.grid__text {
  position: absolute;
  bottom: 0;
  right: 0;
  color: rgba(25, 122, 114, 0.753);
}

.text__textoimg {
  transform: translate(100x);
}

.productos {
  color: rgba(25, 122, 114, 0.753);
  display: grid;
  justify-content: center;
  margin-bottom: 30px;
  padding: 25px;
  margin: 15px;
}

.productos__trasn {
  width: 100px;
  height: 100px;
  color: rgba(25, 122, 114, 0.753);
  margin: 30px;
}

.productos1 {
  background-image: linear-gradient(to left, white, rgba(25, 122, 114, 0.753), white);
  width: 100%;
  height: 80px;
}

.productos1__hijo {
  /* transform: translate( 400px, 100px);*/
  background-color: white;
  color: black;
  font-size: 30px;
  display: grid;
  justify-content: center;
}

.producto0 {
  color: rgba(25, 122, 114, 0.753);
  font-size: 30px;
  display: grid;
  justify-content: center;
}

.productos {
  color: black;
  font-size: 30px;
  display: grid;
  justify-content: center;
}

.recegrid {
  background-color: white;
  padding: 25px;
  margin: 15px;
  margin-bottom: 15px;
  border: 5px solid black;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  grid-template-areas: "img1 img2 img3" "img4 img5 img6" "img7 img8 img9";
  /*segunda fila cuadricula*/
  /*tercera fila cuadricula*/
  /*son 3 filas en ese ejemplo, las filas se marcar con comillas*/
  column-gap: 1rem;
  /*espacio entre columnas*/
  row-gap: 1rem;
  /*espacio entre filas*/
  justify-items: stretch;
  /*donde quiero que vaya los items en plano horizontal*/
  align-items: stretch;
  /*donde qeuiero que vayan los items en plano vertical*/
  justify-content: end;
  /*donde quiero que vaya todo el contenido, siempre que haya lugar*/
}

.recegrid__titulo {
  color: rgba(25, 122, 114, 0.753);
  display: grid;
  justify-content: center;
  align-content: flex-start;
  margin-bottom: 40px;
}

.recegrid__hijo {
  /*border: 5px solid brown;*/
  border-radius: 10px;
  overflow: hidden;
  position: relative;
}

.recegrid__hijo1,
.recegrid__text {
  background-color: white;
  grid-area: img1;
  flex-direction: column;
  gap: 1rem;
  bottom: 0;
  right: 0;
  color: rgba(25, 122, 114, 0.753);
  display: grid;
}

.recegrid__hijo2 {
  grid-area: img2;
  /*justify-self: start;
     align-self: end; /*para mover solo a un hijo se pone justiy self y aline self*/
}

.recegrid__hijo3 {
  grid-area: img4;
}

.recegrid__hijo4 {
  grid-area: img3;
}

.recegrid__hijo5 {
  grid-area: img5;
}

.recegrid__hijo6 {
  grid-area: img6;
}

.recegrid__hijo7 {
  grid-area: img7;
}

.recegrid__hijo8 {
  grid-area: img8;
}

.recegrid__img {
  width: 100%;
  /*que ocupe el 100%  en ancho*/
  height: 100%;
  /*que ocupe el 100%  en alto*/
  object-fit: cover;
  /*que esteticamente este mas linda a la vista*/
}

.recegrid__text {
  flex-direction: column;
  gap: 1rem;
  bottom: 0;
  right: 0;
  color: rgba(25, 122, 114, 0.753);
}

.rotate-vert-right {
  /**/
  display: block;
  /* al copiar de la libreria animista tenes que poner display block para que ande*/
  -webkit-animation: rotate-vert-right 0.5s cubic-bezier(0.645, 0.045, 0.355, 1) both;
  animation: rotate-vert-right 0.5s cubic-bezier(0.645, 0.045, 0.355, 1) both;
}

@-webkit-keyframes kenburns-top-right {
  0% {
    -webkit-transform: scale(1) translate(0, 0);
    transform: scale(1) translate(0, 0);
    -webkit-transform-origin: 84% 16%;
    transform-origin: 84% 16%;
  }
  100% {
    -webkit-transform: scale(1.25) translate(20px, -15px);
    transform: scale(1.25) translate(20px, -15px);
    -webkit-transform-origin: right top;
    transform-origin: right top;
  }
}

@keyframes kenburns-top-right {
  0% {
    -webkit-transform: scale(1) translate(0, 0);
    transform: scale(1) translate(0, 0);
    -webkit-transform-origin: 84% 16%;
    transform-origin: 84% 16%;
  }
  100% {
    -webkit-transform: scale(1.25) translate(20px, -15px);
    transform: scale(1.25) translate(20px, -15px);
    -webkit-transform-origin: right top;
    transform-origin: right top;
  }
}

.tracking-in-expand-fwd-top {
  display: block;
  -webkit-animation: tracking-in-expand-fwd-top 0.8s cubic-bezier(0.215, 0.61, 0.355, 1) both;
  animation: tracking-in-expand-fwd-top 0.8s cubic-bezier(0.215, 0.61, 0.355, 1) both;
}

@-webkit-keyframes tracking-in-expand-fwd-top {
  0% {
    letter-spacing: -0.5em;
    -webkit-transform: translateZ(-700px) translateY(-500px);
    transform: translateZ(-700px) translateY(-500px);
    opacity: 0;
  }
  40% {
    opacity: 0.6;
  }
  100% {
    -webkit-transform: translateZ(0) translateY(0);
    transform: translateZ(0) translateY(0);
    opacity: 1;
  }
}

@keyframes tracking-in-expand-fwd-top {
  0% {
    letter-spacing: -0.5em;
    -webkit-transform: translateZ(-700px) translateY(-500px);
    transform: translateZ(-700px) translateY(-500px);
    opacity: 0;
  }
  40% {
    opacity: 0.6;
  }
  100% {
    -webkit-transform: translateZ(0) translateY(0);
    transform: translateZ(0) translateY(0);
    opacity: 1;
  }
}

.Recetas0 {
  color: rgba(25, 122, 114, 0.753);
  font-size: 30px;
  display: grid;
  justify-content: center;
}

.contacto1 {
  display: grid;
  justify-items: center;
  width: 97%;
  background-color: white;
  color: rgba(25, 122, 114, 0.753);
  padding: 25px;
  margin: 15px;
  margin-bottom: 15px;
  border: 5px solid black;
  margin-bottom: 15px;
}

.contacto__arriba {
  padding: 15px;
}

.contacto0 {
  color: rgba(25, 122, 114, 0.753);
  font-size: 30px;
  display: grid;
  justify-content: center;
}

.itemm {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin: 0 auto;
}

.item__img {
  display: grid;
  justify-content: center;
  align-content: flex-end;
  position: absolute;
  top: 50%;
  left: 50%;
  display: block;
  border-radius: 10px;
}

.itemm1 {
  background-image: rgba(25, 122, 114, 0.753);
  width: 1000%;
  height: 280px;
  padding: 1rem;
  display: grid;
  text-align: center;
  letter-spacing: 1px;
  position: relative;
}

.item--d1 {
  background-image: linear-gradient(to left, white, rgba(25, 122, 114, 0.753), white);
}

.item--d2 {
  background-image: linear-gradient(to left, white, rgba(25, 122, 114, 0.753), white);
}

.faq {
  background-color: black;
  color: black;
  padding: 25px;
  margin: 15px;
  margin-bottom: 15px;
  border: 5px solid black;
  background-image: linear-gradient(to left, white, rgba(25, 122, 114, 0.753), white);
}

.faq_subtitulo {
  display: grid;
  justify-content: center;
  margin-bottom: 10px;
  margin: 16px;
  padding: 5px;
}

.faq_parrafo {
  display: grid;
  justify-content: center;
  margin: 10px;
  display: grid;
}

.faq0 {
  color: rgba(25, 122, 114, 0.753);
  font-size: 30px;
  display: grid;
  justify-content: center;
}

.faq__titulo1 {
  color: rgba(25, 122, 114, 0.753);
  display: grid;
  justify-content: center;
  margin-bottom: 30px;
  margin: 32px;
  padding: 5px;
}

.footer__whatsaap {
  width: 70px;
  padding: 0.5rem;
  text-align: center;
  position: fixed;
  right: 2rem;
  bottom: 2rem;
  animation-name: whatsaap;
  animation-duration: 2s;
  animation-iteration-count: infinite;
}

/*vista tablet*/
@media screen and (max-width: 1023px) {
  .recegrid__titulo {
    color: black;
  }
  .footer {
    min-height: 150px;
  }
  .footer__parrafo {
    background-color: black;
    text-align: center;
    font-size: 18px;
    color: rgba(25, 122, 114, 0.753);
  }
  .productos1__hijo {
    /* transform: translate( 400px, 100px);*/
    color: black;
    font-size: 20px;
    display: grid;
    justify-content: center;
  }
  .productos1 {
    background-image: linear-gradient(to left, white, rgba(25, 122, 114, 0.753), white);
    width: 100%;
    height: 60px;
  }
}

/*vista movil*/
@media screen and (max-width: 599px) {
  .header .header__icono {
    display: block;
    display: flex;
    flex-direction: row;
    justify-content: end;
    font-size: 40px;
    color: rgba(25, 122, 114, 0.753);
    text-decoration: none;
  }
  .paginas {
    display: none;
  }
  .paginas__lista {
    flex-direction: column;
  }
  /* .paginas:target {

    display: block;
  
    position: fixed;
  
    z-index: 1000;
  
    top: 0;
  
    left: 0;
  
    width: 50%;
  
    height: 40vh; }
    .paginas__item {

      font-size: 10px;
    
      margin-top: 1rem; }
    
     .paginas__item--oculto {
    
      display: block; }
    
      }*/
  .recegrid__titulo {
    color: black;
  }
  .recegrid {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1600;
    grid-template-areas: "img1" "img2" "img3" "img4" "img5" "img6" "img7" "img8";
  }
  .grid {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1600;
    grid-template-areas: "img1" "img2" "img3" "img4" "img5" "img6" "img7" "img8";
  }
  .footer__parrafo {
    width: 100%;
    background-color: black;
    text-align: center;
    font-size: 20px;
  }
  .footer__whatsaap {
    width: 70px;
    padding: 0.5rem;
    text-align: center;
    position: fixed;
    right: 1rem;
    bottom: 1rem;
    animation-name: whatsaap;
    animation-duration: 2s;
    animation-iteration-count: infinite;
  }
  .contacto1 {
    width: 80%;
    margin: 20px;
    padding: 5px;
  }
  .contacto__arriba {
    display: grid;
    justify-content: center;
    padding-left: 10px;
  }
  .productos1__hijo {
    display: grid;
    justify-content: left;
  }
  .footer__whatsaap {
    width: 48px;
    height: 48px;
  }
  .inicio1 .inicio1__imagenderecha {
    display: none;
  }
  .inicio1 .inicio1--izquierda {
    width: 100%;
    background-color: #f2f8f8;
    color: rgba(25, 122, 114, 0.753);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .inicio1 .inicio1__titulo {
    font-size: 30px;
    text-align: center;
    margin-bottom: 30px;
    text-transform: uppercase;
  }
  .inicio1--izquierda {
    width: 100%;
  }
  footer {
    display: flex;
    width: 100%;
    min-height: 10px;
    justify-content: center;
    align-items: flex-end;
    background-image: linear-gradient(to left, rgba(8, 7, 3, 0.753), rgba(38, 151, 142, 0.753), rgba(8, 7, 3, 0.753));
  }
  footer .footer__logo {
    display: none;
  }
  .footer__redes {
    padding: 0.5rem;
    display: flex;
    flex-direction: row;
    justify-items: left;
    margin: 20px;
    padding: 20px;
    gap: 1rem;
  }
  .inicio2__videotex {
    font-size: 40px;
    color: rgba(25, 122, 114, 0.753);
    text-align: center;
  }
  .footer__parrafo {
    background-color: black;
    text-align: center;
    font-size: 14px;
    color: rgba(25, 122, 114, 0.753);
  }
  .productos {
    font-size: 14px;
    color: rgba(25, 122, 114, 0.753);
    display: grid;
    justify-content: center;
    margin-bottom: 30px;
    padding: 25px;
    margin: 15px;
  }
  .productos1__hijo {
    color: black;
    font-size: 14px;
    display: grid;
    justify-content: center;
  }
  .productos1 {
    background-image: linear-gradient(to left, white, rgba(25, 122, 114, 0.753), white);
    width: 100%;
    height: 20px;
  }
  .item__img {
    display: none;
  }
  .itemm1 {
    color: black;
    width: 1000%;
    height: 100px;
    padding: 1rem;
    display: grid;
    text-align: center;
    letter-spacing: 1px;
    position: relative;
  }
}
