.contacto1 {
    display: grid;
    justify-items: center;
     width: 97%;
    background-color: white;
    color: rgba(25, 122, 114, 0.753);
    margin: 20px;
    padding: 5px;
    border: 5px solid black;
    margin-bottom: 15px
}

.contacto__arriba {
    padding: 15px;
}
.contacto0 {
    color:rgba(25, 122, 114, 0.753);
    font-size: 30px;
    display: grid;
    justify-content: center;
}