footer {
    display: flex;
    width: 100%;
    background-color: $colorprincipal;
    color: black;
    min-height: 20px;
    padding: 16px;
    justify-content: center;
    align-content: center;
    align-items: flex-end;
    background-image: linear-gradient(to left, rgba(8, 7, 3, 0.753), rgba(38, 151, 142, 0.753), rgba(8, 7, 3, 0.753));

    .footer__parrafo {
        
        background-color: black;
        text-align: center;
        font-size: 20px;
        color: $colorprincipal;
    }
    
    .footer__whatsaap {
        width: 70px;
        padding: 0.5rem;
        text-align: center;
        position: fixed;
        right: 2rem;
        bottom: 2rem;
        animation-name: whatsaap;
        animation-duration: 2s;
        animation-iteration-count: infinite;
    }
    
  

    .footer__logo:hover {
    transform: rotate(360deg);
    animation-timing-function: linear;
}


@keyframes whatsaap {
    0% {
        opacity: 2;
    }

    50% {
        opacity: 0;
    }

    100% {
        opacity: 2;
    }
}

.footer__redes {
    padding: 0.5rem;
    display: flex;
    flex-direction: row;
    justify-items: left;
    margin: 0px;
    padding: 20px;
    gap: 1rem;
}
.footer__logo {
    display:flex;
    max-width: 100px;
    min-height: 100px;
    flex-direction: row;
    justify-items: left;
    margin-bottom: 10px;
    transition: transform 1s;
    
}
.footer_derechos {
    background-color: black;
    color: rgba(25, 122, 114, 0.753);
    padding: 15px;
    border: 5px solid black;
    display: grid;
    text-align: center;
  
  }
  
  .footer_redes1 {
    display: grid;
  
  }
 }
 .footer_derechos {
    background-color: black;
    color: rgba(25, 122, 114, 0.753);
    padding: 3px;
    font-size: 20px;
    display: grid;
    text-align: center;
    justify-content: center;
  
  }
 