.header {
    background-color: white;
    z-index: 10000;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 2rem;

}

.header__icono {
    font-size: 32px;
    color: rgba(25, 122, 114, 0.753);
    text-decoration: none;
    display: none;
}
.header__logo {
    max-width: 200px;
    min-height: 200px;
    margin: 30px;

}
.paginas__lista {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.paginas__item {
    margin-left: 16px;
    color: rgba(25, 122, 114, 0.753);
}