.header {
    background-color: white;
    z-index: 10000;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 2rem;


    .header__icono {
        font-size: 32px;
        color:$colorprincipal;
        text-decoration: none;
        display: none;
      }

    .header__logo {
        max-width: 200px;
        min-height: 200px;
        margin: 30px;
    
    }
}




.paginas__lista {
    display: flex;
    flex-direction: row;
    align-items: center;
}
.paginas__item--oculto{
display: none;
}

.paginas__item {
    margin-left: 16px;
    color: $colorprincipal;
}

@mixin sizes($color, $justify-content,$font-size) {
    color: $color;
    justify-content: $justify-content;
    font-size: $font-size;
  }
  .box {
      display: grid;
     @include sizes($colorprincipal, center, 30px);
  }
  
  
