.itemm {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 0 auto;
}

.item__img {

    display: grid;
    justify-content: center;
    align-content: flex-end;
    position: absolute;
    top: 50%;
    left: 50%;
   
    display: block;
    border-radius: 10px;
  

}

.itemm1 {
    background-image: rgba(25, 122, 114, 0.753);

    width: 1000%;
    height: 100px;
    padding: 1rem;
    display: grid;
    text-align: center;
    letter-spacing: 1px;
    position: relative;

}

$colores: (
    d1:linear-gradient(to left, white),
    d2:linear-gradient(to left,  white),
);

@for $i from 1 through 2 {
    .item--d#{$i} {
        background-image: map-get($colores, d+$i);
    }
}