.footer__whatsaap {
    width: 70px;
    padding: 0.5rem;
    text-align: center;
    position: fixed;
    right: 2rem;
    bottom: 2rem;
    animation-name: whatsaap;
    animation-duration: 2s;
    animation-iteration-count: infinite;
  }